
.detail_contact {
    padding-bottom: 170px;
    background-image: url("../images/contact_page.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100px;
}
.dc_section{
    padding-bottom: 100px;
    padding-top: 100px;
    .dc_form_col{
        padding-right: 40px;
        h2{
            margin-bottom: 56px;
        }
    }
    h2{
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 48px;
        text-transform: uppercase;
        color: #FFF;
    }
    .dc_content_col{
        background: linear-gradient(156.59deg, #194A4E -20.09%, rgba(1, 14, 22, 0) 57.39%);
    }
    .contact_inner{
        padding: 100px 50px 0px;
    }
}
.contact_inner {

    h2 {
        color: #FFF;
        font-size: 28px;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        color: #FFF;
        margin-bottom: 10px;
        font-weight: 300;
    }
}

.chain_bg {
    background-image: url("../images/chain_link.svg");
}

.cdc-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span:last-child{
        margin-left: 35px;
    }
    span:first-child{
        img{
            max-width: 45px;
        }
    }
    h2{
        line-height: 55px;
    }
    .c-phone-content-wrap{
        p{
            margin-bottom: 0px;
            font-size: 30px;
            font-weight: 800;
        }
    }
    .c-email-content-wrap{
        p{
            margin-bottom: 0px;
            font-size: 30px;
            font-weight: 800;
        }
    }
}



@media (max-width: 767px) {
    .dc_section {
        .contact_inner{
            padding: 30px 10px;
        }
        .dc_form_col{
            padding-right: 15px;
            margin-bottom: 40px;
            h2{
                margin-bottom: 30px;
                font-size: 40px;
            }
        }
    }
    .cdc-wrap {
        .c-phone-content-wrap{
            p{
                font-size: 24px;
            }
        }
    }
    .cdc-wrap {
        .c-email-content-wrap{
            p{
                font-size: 24px;
            }
        }
    }
}