
.detail_contact {
    padding-bottom: 170px;
    background-image: url("../images/contact_page.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100px;
}
.contact_inner {

    h2 {
        color: #FFF;
        font-size: 28px;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        color: #FFF;
        margin-bottom: 10px;
        font-weight: 300;
    }
}

.chain_bg {
    background-image: url("../images/chain_link.svg");
}