.expertise_section {
    background-image: url("../images/expertise_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 80px;

}
.expertise_content_inner {
    min-height: 450px;
    h2 {
        color: #FFF;
        font-size: 85px;
        text-transform: uppercase;
        line-height: 59px;
        margin-bottom: 30px;

        span {
            color: transparent;
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
        }
    }
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        width: 75%;
        margin-bottom: 30px;
    }
}

.expertise_col {
    background-image: url("../images/ar_expertise.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}