header {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.mobile-nav-close-btn img{
    max-width: 25px;
}
.mobile-nav-close{
    display: none;
    position: absolute;
    color: #fff;
    right: 5px;
    top: 25px;
    font-size: 30px;
}
.mobile-nav-close-btn{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    transform: rotate(0deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobile-nav-close-btn:hover{
    transform: rotate(360deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main_section .nav_menu_club{
    top: 40px !important;
}
.main_section .nav_menu_club_2{
    top: unset !important;
    bottom: 110px;
}
.main_section .nav_menu_club_3{
    top: unset !important;
    bottom: 0;
}
.btn-wrap{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -83px;
}
.primary-btn{
    background-color: #5DFFE8;
    padding: 12px 30px;
    text-decoration: none;
    color: #000;
    border: 2px solid #5DFFE8;
    border-radius: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.primary-btn:hover{
    background-color: transparent;
    color: #5DFFE8;
    border: 2px solid #5DFFE8;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.digital-image{
    width: 375px;
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: -80px;
    margin-left: 50px;
}
.main_section .arrow_down{
    top: 45% !important;
}
header{
    max-width: 1500px;
    margin: 0 auto; 
    right: 0;
}
.main_section{
    background-image: url(../images/hero-bg.png) !important;
    max-width: 1500px;
    margin: 0 auto;
    background-position: bottom -50px center;
    height: auto;
    min-height: auto !important;
}
section{
    max-width: 1500px;
    margin: 0 auto;
}
.content_inner_dp{
    padding-bottom: 150px;
}
.main_section .inner-row{
    position: relative;
}

/* btn-10 */
.btn-10 a{
    padding:0;
}
.btn-10 a span{
    display:block; 
    padding:0 30px;
}
.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link:hover{
    -webkit-transition: .5s all ease-in;
    transition: .5s all ease-in;
}
.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link{
    -webkit-transition: .5s all ease-in !important;
    transition: .5s all ease-in !important;
}

.logo_dp8 {
    width: 220px;
    height: 60px;
    object-fit: contain;
    display: flex;
    align-items: center;

    a {
        img {
            width: 100%;
        }
    }
    
}

.nav_list_dp {
    display: flex;
    list-style: none;
    li {
        a {
            text-decoration: none;
            font-size: 18px;
            color: #FFF;
        }
    }

}

.navbar_dp {
    .nav_cp_dp {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    text-decoration: none;
                    color: #FFF;
                    font-size: 16px;
                    border: 2px solid transparent;
                    padding: 5px 10px;
                    margin-right: 5px;
                    text-transform: uppercase;
                    transition: 250ms all ease-in;
                }
                .nav-link:hover, .nav-link.active {
                    border: 2px solid #14484B;
                    border-radius: 50px;
                    color: #5DFFE8;
                }
                
            }
        }
    }
}

@media (max-width: 992px){
    .navbar-expand-sm .navbar-toggler{
        display: block !important;
    }
    header .container{
        position: relative;
    }
    .navbar-collapse{
        flex-basis: unset !important;
        flex-grow: unset;
        align-items: unset;
        position: absolute;
        left: auto;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: #010e16;
        max-width: 700px;
        margin: 0 auto !important;
    }
    
    .logo_dp8 img{
        background-color: transparent; 
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s; 
    }
    .logo_dp8.opened img{
        background-color: #05322c;
        border-radius: 0px;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
    }
    .digital-image{
        width: 220px;
    }
    .logo_dp8{
        width: 50%;
        z-index: 9999;
    }
    .navbar{
        position: inherit;
        width: 50%;
        justify-content: flex-end;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
    .navbar-nav{
        margin-top: 75px;
    }
    .mobile-nav-close{
        display: block;
    }
    .collapse:not(.show) {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item{
        padding-left: 13px;
    }
}