.main_section_v1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    background: transparent !important;
}
.main_section_v1 .content_inner_dp{
    padding: 0 !important;
}
#myVideo{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}
.bg-video-wrap::before{
    content: '';
    background-color: rgba(3, 18, 26, 0.5);
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.main-hero-video-bg-wrap{
    position: relative;
}
.bg-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.client_section.color_client_section{
    background: linear-gradient(156.59deg, #194A4E -20.09%, #01161d 57.39%) !important;
  }