.sd_section{
  background: linear-gradient(126.99deg, #194A4E -15.18%, rgba(1, 14, 22, 0) 49.1%);
  .sd_row{
    .sd_heding_wrap{
      h2{
        text-transform: uppercase;
        color: #fff;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 81px;
      }
      p{
        max-width: 920px;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
      }
    }
    .sd_inner_row{
      margin-top: 80px;
      .sd_img_wrap{
        padding: 0 35px 0 0;
        img{
          margin-bottom: 40px;
        }
      }
      .sd_content_wrap{
        margin-bottom: 100px;
        .title-exp{
          font-size: 36px;
          line-height: 45px;
          max-width: 312px;
        }
      }
    }
  }
}
section.banner_services {
  min-height: 130vh;
  display: flex;
  align-items: center;
  background-image: url("../images/bg_services.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  .dp_sec_service {
    font-size: 90px;
  }
}
.services-button-wrap{
  position: relative;
}
.services-button-wrap img{
  max-width: 550px;
}
.services-btn{
  position: absolute;
    bottom: 60px;
    left: 140px;
    right: 0;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}
.dp_sec_heading{
  line-height: 59px;
}
.services-details-wrap{
  max-width: 411px;
  .txt-neon{
    font-style: normal;
    font-weight: 900;
    font-size: 93.9455px;
    line-height: 79px;
  }
  .title-exp{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  .platforms-supported{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    max-width: 338px;
  }
}


@media (max-width: 992px) {
  .sd_section {
    .sd_row {
      .sd_inner_row{
        margin-top: 50px;
        .sd_img_wrap{
          .primary-btn{
            padding: 12px;
          }
        }
        .sd_content_wrap{
          margin-bottom: 50px;
          .title-exp{
            font-size: 28px;
            line-height: 34px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .sd_section {
    .sd_row {
      .sd_heding_wrap {
        h2{
          font-size: 30px;
          line-height: 36px;
          margin-bottom: 25px;
        }
      }
    }
    .sd_inner_row {
      .sd_img_wrap {
        margin-bottom: 80px;
      }
    }
  }
}

@import "_experimentalclub.scss";
