.projects_section {
  background-image: url("../images/bg_projects.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.projects_slider {
  min-height: 450px;
}

.projects_slider {
  .slick-slide.left-slide.slick-active {
    border-radius: 20px;
    overflow: hidden;
    background: rgb(1, 22, 29);
    background: linear-gradient(
      85deg,
      rgba(1, 22, 29, 0) 0%,
      rgba(25, 80, 81, 1) 100%,
      rgba(25, 80, 81, 1) 100%
    );
  }

  .projects_wrappeer {
    position: relative;
    min-height: 220px;
    display: flex !important;

    overflow: hidden;
    .ar_wrap_projects {
      position: absolute;
      top: 0px;
      right: 0px;
      color: #fff;
      background-image: url("../images/ar_bg.svg");
      background-position: top;
      background-repeat: no-repeat;
      width: 70px;
      height: 70px;
      background-size: 100%;
      h3 {
        text-align: end;
        margin-top: 10px;
        margin-right: 15px;
      }
    }
    img {
      margin: 0 auto;
    }
  }
}
.slick-slide.right-slide.slick-active {
  border-radius: 20px;
  overflow: hidden;
  background: rgb(25, 80, 81);
  background: linear-gradient(
    90deg,
    rgba(25, 80, 81, 1) 0%,
    rgba(25, 80, 81, 1) 21%,
    rgba(1, 22, 29, 0.21192226890756305) 100%
  );
  .ar_wrap_projects {
    top: 0px;
    right: unset;
    left: 0px;
    background-image: url("../images/ar_bg_2.svg");
    h3 {
      text-align: start;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: unset;
    }
  }
}

.project_wrap_inner {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.project_on_main {
  display: none;
}
.main-slide {
  .project_on_main {
    height: 450px;
    border-radius: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(25, 80, 81);
    background: linear-gradient(
      180deg,
      rgba(25, 80, 81, 1) 0%,
      rgba(25, 80, 81, 1) 54%,
      rgba(7, 39, 42, 1) 100%
    );
    overflow: hidden;
  }
  .project_wrap_inner {
    display: none;
  }
}

.projects_slider {
  .slick-list.draggable {
    margin: 0px 50px;
    padding: unset;
    .slick-slide {
      margin: 15px;
    }
  }
  .slick-track {
    align-items: center;
    display: flex;
  }
}

.main_img_dp8 {
  display: flex;
  align-self: flex-start;
  margin: 35px 0 0 35px !important;
  width: 120px;
  object-fit: contain;
}
.img_contain_main img {
  position: absolute;
  width: 280px;
  right: 0px;
  bottom: 0px;
}
@media only screen and (max-width: 767px) {
  .projects_wrappeer img {
    width: 70px;
  }

  .projects_slider {
    min-height: 0;
  }

  .projects_wrappeer img {
    width: 100%;
  }

  .project_on_main .main_img_dp8 {
    width: 50%;
  }
}
