.custom-min-height {
  min-height: 750px;
}
.services {
  background-image: url("../images/services_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  .service_box {
    background: linear-gradient(
      135.87deg,
      #1a5153 2.28%,
      rgba(26, 81, 83, 0.0520833) 71.8%,
      rgba(26, 81, 83, 0) 75.62%
    );
    border-radius: 15px;
    min-height: 420px;
    .service_img {
      background-image: url(../images/bg_rounded.svg);
      background-repeat: no-repeat;
      background-size: 70%;
      border-top-left-radius: 16px;
      padding-bottom: 125px;
    }
    img {
      width: 160px;
      margin-top: -45px;
    }
    .description_service {
      padding: 10px 30px;
      button.read_more_btn {
        background-color: transparent;
        border: none;
        width: 100px;
        height: 35px;
        color: #56ecd7;
        font-size: 14px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 250ms ease-in;
        span {
          margin-top: 5px;
        }
         .contain_btn {
          font-size: 35px;
          color: #1d7165;
          line-height: 30px;
          margin-top: 0px;
        }
        &:hover {
          width: 130px;
        }
      }
    }
  }
}



.check_test {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  background: transparent;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #56ecd7;
  font-size: 14px;
}
.check_test:hover {
  color: #56ecd7;
}

.check_test:before,
.check_test:after{
  position: absolute;
  content: "";
  transition: all .25s;
}

.check_test:before {
  border-bottom: 4px solid #1d7165;
  border-left: 4px solid #1d7165;
  border-top: 4px solid #1d7165;
  width: 10%;
  height: 105%;
  left: 0px;
  bottom: 50%;
  transform: translateY(50%);
}

.check_test:after {
  border-top: 4px solid #1d7165;
  border-right: 4px solid #1d7165;
  border-bottom: 4px solid #1d7165;
  width: 10%;
  height: 105%;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.check_test:hover:before{
  width: 100%;
  height: 105%;
}

.check_test:hover:after{
  width: 100%;
  height: 105%;
}


.sec_box {
  margin-top: 50%;
}

.thir_box {
  margin-top: 100%;
}

@media only screen and (max-width: 1024px) {
  .sec_box {
    margin-top: 10%;
  }
  .thir_box {
    margin-top: 10%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-slide .project_on_main{
    height: 250px !important;
  }
  .img_contain_main img{
    width: 120px;
  }
}

@media (max-width: 992px) {
  .services {
    .service_box {
      .service_img {
        background-size: 35% !important;
        padding-bottom: 100px !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .first-box{
    margin-top: 55px;
  }
  .services {
    .service_box {
      .service_img {
        background-size: 35% !important;
        border-top-left-radius: 16px !important;
        padding-bottom: 75px !important;
      }
    }
    .sec_box {
      margin-top: 20%;
    }
    .thir_box {
      margin-top: 20%;
    }
  }
}
