img, svg{
    max-width: 100%;
}
.what_we_do_content{
    max-width: 300px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.what_we_do_col{
    background-image: url(../images/what-we-do-hero.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}
.contact_us{
    background-image: url(../images/what-we-contact.svg);
    background-position: bottom 50px left 30px;
    background-size: 100px;
    background-repeat: no-repeat;
}
.what-we-do-content-wrap h3{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 95px;
    color: #fff;
}
.what-we-do-content-wrap p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

@media (max-width: 992px) {
    .what-we-do-content-wrap h3{
        font-size: 30px;
        line-height: 70px;
    }
    .what-we-do-content-wrap p{
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .wwd_content_row{
        display: flex;
        .wwd_img_col{
            max-width: 25% !important;
            width: 25% !important;
        }
        .wwd_img_col.align-items-center{
            align-items: flex-start !important;
        }
        .wwd_content_col{
            max-width: 73% !important;
            width: 73% !important;
        }
    }
    .expertise_section.wwd_hero_banner{
        padding-bottom: 0 !important;
    }
    .what_we_do_content{
        margin: 0 auto;
    }
}