* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SF Compact Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Thin"),
    url("../fonts/sf-compact-display-thin.woff") format("woff");
}

@font-face {
  font-family: "SF Compact Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"),
    url("../fonts/sf-compact-display-medium.woff") format("woff");
}
@font-face {
  font-family: "SF Compact Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"),
    url("../fonts/sf_compact_display_heavy.ttf") format("truetype");
}

/**********SF UI Display Fonts***********/
@font-face {
  font-family: "SF UI Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Thin"),
    url("../fonts/sf-ui-display/sf-ui-display-light.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"),
    url("../fonts/sf-ui-display/sf-ui-display-medium.woff") format("woff");
}
@font-face {
  font-family: "SF UI Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Heavy"),
    url("../fonts/sf-ui-display/sf-ui-display-heavy.woff") format("woff");
}
@font-face {
  font-family: "SF UI Display Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"),
    url("../fonts/sf-ui-display/sf-ui-display-bold.woff") format("woff");
}

body,
html {
  min-height: 100vh;
  font-family: "SF UI Display Medium";
  background-color: #010e16;
}
.container, .container-lg, .container-md, .container-sm, .container-xl{
  max-width: 1920px !important;
  padding-left: 30px;
  padding-right: 30px;
}
@font-face {
  font-family: "SF Compact Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"),
    url("../fonts/sf-compact-display-medium.woff") format("woff");
}
@font-face {
  font-family: "SF Compact Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"),
    url("../fonts/sf_compact_display_heavy.ttf") format("ttf");
}

body,
html {
  min-height: 100vh;
  font-family: "SF UI Display Medium";
}

.mid-content{
  max-width: 700px;
  margin: 0 auto 50px !important;
}
img{
  max-width: 100%;
}
// .what_we_do .mid-content{
//   margin-bottom: 50px !important;
// }

#myBtn img{
  max-width: 50px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
}

#myBtn:hover {
  background-color: transparent;
}

@media (max-width: 767px) {
  .mid-content{
    max-width: 400px;
  }
}

@import "_header";
@import "_mainSection";
@import "_client";
@import "_expertise";
@import "_projects";
@import "_services";
@import "_footer";
@import "_expertise-page";
@import "_ourProjects";
@import "_contactPage";
@import "_ourservices";
@import "_what-we-do";
@import "_homeV1";
