@media (min-width: 576px){
  .navbar-expand-sm .navbar-nav {
      flex-direction: row;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link:hover, .navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link.active {
  border: 2px solid #14484B;
  border-radius: 50px;
  color: #5DFFE8 !important;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #FFF !important;
  font-size: 16px;
  border: 2px solid transparent;
  padding: 5px 10px;
  margin-right: 5px;
  text-transform: uppercase;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}


.ps-content {
  background: linear-gradient(135.87deg, #1a5153 2.28%, rgba(26, 81, 83, 0.0520833) 71.8%, rgba(26, 81, 83, 0) 75.62%);
  padding: 50px 30px;
  margin-left: -60px;
}
.ps-content .check_test, .ps-content h2, .ps-content p {
  color: #fff;
}
.projects_section .slick-arrow {
  text-indent: -9999999999px;
  background: transparent;
  border: 0;
  padding: 10px 20px;
}
.projects_section .slick-prev {
  left: -20px;
  position: absolute;
  bottom: 50%;
  z-index: 1;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.projects_section .slick-next {
  right: -20px;
  position: absolute;
  bottom: 50%;
  z-index: 1;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}
.email-sent-box {
  background: linear-gradient(156.59deg, #194A4E -20.09%, rgba(1, 14, 22, 0) 57.39%);
  padding: 10px 20px;
}
.email-sent-box p {
  margin: 0 0 0 20px;
  color: #fff;
}
.email-sent-box img {
  width: 60px;
}
.expertise_services .exp_services_wrap .primary-btn {
  color: #000 !important;
}
.expertise_services .exp_services_wrap .primary-btn:hover {
  color: #5DFFE8 !important;
  border-color: #5DFFE8 !important;
}

.sd_img_wrap .primary-btn {
  color: #000 !important;
}
.sd_img_wrap .primary-btn:hover {
  color: #5DFFE8 !important;
  border-color: #5DFFE8 !important;
}

@media (max-width: 767px) {
  .ps-content {
    margin-left: 0px;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .ps-content {
      margin-left: 0px;
    }
}

