* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SF Compact Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Thin"), url("../fonts/sf-compact-display-thin.woff") format("woff");
}

@font-face {
  font-family: "SF Compact Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf-compact-display-medium.woff") format("woff");
}

@font-face {
  font-family: "SF Compact Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf_compact_display_heavy.ttf") format("ttf");
}

body,
html {
  min-height: 100vh;
  font-family: "SF Compact Display Medium";
}

header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo_dp8 {
  width: 220px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_dp8 a img {
  width: 100%;
}

.nav_list_dp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav_list_dp li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  border: 2px solid transparent;
  padding: 5px 10px;
  margin-right: 5px;
  text-transform: uppercase;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link:hover {
  border: 2px solid #14484B;
  border-radius: 50px;
  color: #5DFFE8;
}

.main_section {
  background-image: url("../images/section_bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 160vh;
  width: 100%;
}

.content_inner_dp {
  padding-top: 150px;
}

.content_inner_dp h2 {
  font-size: 85px;
  line-height: 70px;
  display: inline;
  text-transform: uppercase;
  font-weight: 800;
  /*  text-shadow: 10px 0 23px rgba(0,0,0, 0.65),
                     0px 4px 1px rgba(0,0,0, 0.46); */
  background-color: #00b4a0;
  /* Create the gradient. */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b4a0), color-stop(0%, #00b4a0), to(#09acc2));
  background-image: linear-gradient(180deg, #00b4a0 0%, #00b4a0 0%, #09acc2 100%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.content_inner_dp span {
  color: transparent;
  font-size: 55px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7bf4ff;
}

.our_expertise {
  background-image: url("../images/our-expertise-bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.our_expertise .txt-neon {
  color: transparent;
  font-size: 55px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #14484b;
}

.our_expertise .title-exp {
  width: 80%;
  color: #fff;
}

.our_expertise .platforms-supported ul {
  padding: 0;
}

.our_expertise .platforms-supported li::before {
  content: "\002B";
  font-size: 20px;
  margin-right: 6px;
  color: #0c3539;
}

.our_expertise .platforms-supported li {
  list-style: none;
  color: #5dffe8;
}
/*# sourceMappingURL=style.css.map */