* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Thin"), url("../fonts/sf-compact-display-thin.woff") format("woff");
}

@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf-compact-display-medium.woff") format("woff");
}

@font-face {
  font-family: 'SF Compact Display Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf_compact_display_heavy.ttf") format("truetype");
}

body, html {
  min-height: 100vh;
  font-family: 'SF Compact Display Medium';
  background-color: #010E16;
}

header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo_dp8 {
  width: 220px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_dp8 a img {
  width: 100%;
}

.nav_list_dp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav_list_dp li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  border: 2px solid transparent;
  padding: 5px 10px;
  margin-right: 5px;
  text-transform: uppercase;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link:hover {
  border: 2px solid #14484B;
  border-radius: 50px;
  color: #5DFFE8;
}

.main_section {
  background-image: url("../images/section_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 145vh;
  width: 100%;
}

.content_inner_dp {
  padding-top: 150px;
}

.content_inner_dp h2 {
  font-size: 85px;
  line-height: 70px;
  display: inline;
  text-transform: uppercase;
  font-weight: 800;
  /*  text-shadow: 10px 0 23px rgba(0,0,0, 0.65),
                     0px 4px 1px rgba(0,0,0, 0.46); */
  background-color: #00b4a0;
  /* Create the gradient. */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b4a0), color-stop(0%, #00b4a0), to(#09acc2));
  background-image: linear-gradient(180deg, #00b4a0 0%, #00b4a0 0%, #09acc2 100%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.content_inner_dp span {
  color: transparent;
  font-size: 55px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7bf4ff;
}

.client_section {
  min-height: 30vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#194a4e), color-stop(#133a41), color-stop(#102b34), color-stop(#0c1d25), to(#010e16));
  background-image: linear-gradient(to right bottom, #194a4e, #133a41, #102b34, #0c1d25, #010e16);
}

.dp_sec_heading {
  font-size: 85px;
  text-transform: uppercase;
  color: #FFF;
}

.dp_sec_heading span {
  color: transparent;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
}

.client_slider .content_wrappeer {
  padding: 20px;
}

.client_slider .content_wrappeer img {
  width: 180px;
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.client_slider .slick-slide {
  border: 2px solid #14484B;
  border-radius: 20px;
  margin: 0px 10px;
}

.btn_dp8 {
  min-width: 120px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #5DFFE8;
  color: #5DFFE8;
  font-size: 16px;
  border-radius: 90px;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.btn_dp8:hover {
  background-color: #5DFFE8;
  color: #000;
}
