* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SF Compact Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Thin"), url("../fonts/sf-compact-display-thin.woff") format("woff");
}

@font-face {
  font-family: "SF Compact Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf-compact-display-medium.woff") format("woff");
}

@font-face {
  font-family: "SF Compact Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf_compact_display_heavy.ttf") format("truetype");
}

body,
html {
  min-height: 100vh;
  font-family: "SF Compact Display Medium";
  background-color: #010e16;
}

@font-face {
  font-family: "SF Compact Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf-compact-display-medium.woff") format("woff");
}

@font-face {
  font-family: "SF Compact Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"), url("../fonts/sf_compact_display_heavy.ttf") format("ttf");
}

body,
html {
  min-height: 100vh;
  font-family: "SF Compact Display Medium";
}

header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.mobile-nav-close-btn img {
  max-width: 25px;
}

.mobile-nav-close {
  display: none;
  position: absolute;
  color: #fff;
  right: 5px;
  top: 25px;
  font-size: 30px;
}

.mobile-nav-close-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile-nav-close-btn:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main_section .nav_menu_club {
  top: 40px !important;
}

.main_section .nav_menu_club_2 {
  top: unset !important;
  bottom: 110px;
}

.main_section .nav_menu_club_3 {
  top: unset !important;
  bottom: 0;
}

.btn-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -83px;
}

.primary-btn {
  background-color: #5DFFE8;
  padding: 12px 30px;
  text-decoration: none;
  color: #000;
  border: 2px solid #5DFFE8;
  border-radius: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.primary-btn:hover {
  background-color: transparent;
  color: #5DFFE8;
  border: 2px solid #5DFFE8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.digital-image {
  width: 375px;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: -80px;
  margin-left: 50px;
}

.main_section .arrow_down {
  top: 45% !important;
}

.main_section {
  background-image: url(../images/hero-bg.png) !important;
  max-width: 1500px;
  margin: 0 auto;
  background-position: bottom -50px center;
  height: auto;
  min-height: auto !important;
}

section {
  max-width: 1500px;
  margin: 0 auto;
}

.content_inner_dp {
  padding-bottom: 150px;
}

.main_section .inner-row {
  position: relative;
}

/* btn-10 */
.btn-10 a {
  padding: 0;
}

.btn-10 a span {
  display: block;
  padding: 0 30px;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: .5s all ease-in;
  transition: .5s all ease-in;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link {
  -webkit-transition: .5s all ease-in !important;
  transition: .5s all ease-in !important;
}

.logo_dp8 {
  width: 220px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_dp8 a img {
  width: 100%;
}

.nav_list_dp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav_list_dp li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  border: 2px solid transparent;
  padding: 5px 10px;
  margin-right: 5px;
  text-transform: uppercase;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link:hover {
  border: 2px solid #14484B;
  border-radius: 50px;
  color: #5DFFE8;
}

@media (max-width: 992px) {
  .navbar-expand-sm .navbar-toggler {
    display: block !important;
  }
  header .container {
    position: relative;
  }
  .navbar-collapse {
    -ms-flex-preferred-size: unset !important;
        flex-basis: unset !important;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    position: absolute;
    left: auto;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #010e16;
    max-width: 700px;
    margin: 0 auto !important;
  }
  .logo_dp8 img {
    background-color: transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
  }
  .logo_dp8.opened img {
    background-color: #1c6d62;
    border-radius: 5px;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
  }
  .digital-image {
    width: 220px;
  }
  .logo_dp8 {
    width: 50%;
    z-index: 9999;
  }
  .navbar {
    position: inherit;
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar-expand-sm .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-nav {
    margin-top: 75px;
  }
  .mobile-nav-close {
    display: block;
  }
  .collapse:not(.show) {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    padding-left: 13px;
  }
}

.main_section {
  background-image: url("../images/section_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 145vh;
  width: 100%;
}

.main_section .arrow_down {
  position: absolute;
  top: 180%;
  left: -120px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main_section .arrow_down_ico {
  font-size: 26px;
  letter-spacing: 12px;
}

.main_section .arrow_down_ico::before {
  content: "";
  background-image: url(../images/arrow_down.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 183px;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 150px;
  top: -75px;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0) rotate(90deg);
            transform: translateX(0) rotate(90deg);
  }
  40% {
    -webkit-transform: translateX(-30px) rotate(90deg);
            transform: translateX(-30px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-15px) rotate(90deg);
            transform: translateX(-15px) rotate(90deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0) rotate(90deg);
            transform: translateX(0) rotate(90deg);
  }
  40% {
    -webkit-transform: translateX(-30px) rotate(90deg);
            transform: translateX(-30px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateX(-15px) rotate(90deg);
            transform: translateX(-15px) rotate(90deg);
  }
}

.main_section .nav_menu_club {
  position: absolute;
  width: 176px;
  height: 48px;
  top: 185px;
  right: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_section .nav_menu_club h3 {
  font-weight: 800;
  font-size: 30px;
  line-height: 95.84%;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 25.6782px 6.41955px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.main_section .nav_menu_club p {
  text-align: right;
  letter-spacing: 0.275em;
  color: transparent;
  font-size: 20px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 0;
}

.main_section .nav_menu_club_2 {
  position: absolute;
  width: 176px;
  height: 48px;
  top: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 170px;
}

.main_section .nav_menu_club_2 h3 {
  font-weight: 800;
  font-size: 30px;
  line-height: 95.84%;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 25.6782px 6.41955px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.main_section .nav_menu_club_2 p {
  text-align: right;
  letter-spacing: 0.275em;
  color: transparent;
  font-size: 20px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 0;
}

.main_section .nav_menu_club_3 {
  position: absolute;
  width: 176px;
  height: 48px;
  top: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 185px;
}

.main_section .nav_menu_club_3 h3 {
  font-weight: 800;
  font-size: 30px;
  line-height: 95.84%;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 25.6782px 6.41955px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.main_section .nav_menu_club_3 p {
  text-align: right;
  letter-spacing: 0.275em;
  color: transparent;
  font-size: 20px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 0;
}

.content_inner_dp {
  padding-top: 150px;
}

.content_inner_dp h2 {
  font-size: 85px;
  line-height: 70px;
  display: inline;
  text-transform: uppercase;
  font-weight: 800;
  /*  text-shadow: 10px 0 23px rgba(0,0,0, 0.65),
                     0px 4px 1px rgba(0,0,0, 0.46); */
  background-color: #00b4a0;
  /* Create the gradient. */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b4a0), color-stop(0%, #00b4a0), to(#09acc2));
  background-image: linear-gradient(180deg, #00b4a0 0%, #00b4a0 0%, #09acc2 100%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.content_inner_dp span {
  color: transparent;
  font-size: 55px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7bf4ff;
}

@media only screen and (max-width: 1400px) {
  .main_section {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1200px) {
  .main_section {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1024px) {
  .main_section {
    min-height: 56vh;
  }
  .main_section .nav_menu_club {
    position: absolute;
    width: 176px;
    height: 48px;
    top: 140px;
    right: 85px;
  }
  .main_section .nav_menu_club_2 {
    position: absolute;
    top: 200px;
    left: 50px;
  }
  .main_section .nav_menu_club_3 {
    position: absolute;
    top: 310px;
    right: 45px;
  }
  .main_section .arrow_down {
    position: absolute;
    top: 180%;
    left: -100px;
  }
  .client_slider .content_wrappeer img {
    width: 130px !important;
  }
}

@media (max-width: 992px) {
  .main_section .arrow_down {
    left: -75px;
  }
  .content_inner_dp h2 {
    font-size: 70px;
  }
  .content_inner_dp span {
    font-size: 45px;
  }
  .main_section .nav_menu_club_2 h3, .main_section .nav_menu_club h3, .main_section .nav_menu_club_3 h3 {
    font-size: 24px;
  }
  .main_section .nav_menu_club_2 p, .main_section .nav_menu_club p, .main_section .nav_menu_club_3 p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .main_section {
    min-height: 42vh;
  }
  .main_section .arrow_down {
    position: absolute;
    top: 80px;
    left: -53px;
  }
  .arrow_down {
    visibility: hidden;
  }
  .nav_menu_club_2 {
    visibility: hidden;
  }
  .content_inner_dp h2 {
    visibility: hidden;
  }
  .content_inner_dp span {
    visibility: hidden;
  }
  .main-slide .project_on_main {
    height: 350px !important;
  }
  .main_section .nav_menu_club {
    visibility: hidden;
  }
  .main_section .nav_menu_club_3 {
    right: 20px;
    top: 146px;
    visibility: hidden;
  }
  .main_section .arrow_down_ico {
    font-size: 16px;
    letter-spacing: 12px;
  }
  .main_section .arrow_down_ico::before {
    content: "";
    width: 25px;
    height: 184px;
    right: 71px;
    top: -76px;
  }
  .nav_menu_club p {
    font-size: 13px;
    line-height: 20px;
  }
  .main_section .nav_menu_club {
    right: 50px;
    top: 85px;
  }
  .main_section .nav_menu_club_2 {
    left: 35px;
  }
  .main_section .nav_menu_club_3 {
    right: 15px;
  }
  .main_section .nav_menu_club h3 {
    font-size: 18px;
  }
  .main_section .nav_menu_club p {
    font-size: 14px;
    line-height: 20px;
  }
  .nav_menu_club img {
    width: 80px;
    margin-left: auto;
  }
  .nav_menu_club_2 img {
    width: 80px;
    margin-left: auto;
  }
  .nav_menu_club_3 img {
    width: 80px;
    margin-left: auto;
  }
  .main_section .nav_menu_club_2 {
    left: -45px;
    top: 100px;
  }
  .main_section .nav_menu_club_2 h3 {
    font-size: 18px;
  }
  .main_section .nav_menu_club_2 p {
    font-size: 14px;
    line-height: 20px;
  }
  .main_section .nav_menu_club_3 {
    right: 20px;
    top: 146px;
  }
  .main_section .nav_menu_club_3 h3 {
    font-size: 18px;
  }
  .main_section .nav_menu_club_3 p {
    font-size: 14px;
    line-height: 20px;
  }
  .content_inner_dp {
    padding-top: 65px;
  }
  .content_inner_dp h2 {
    font-size: 30px;
    margin-bottom: 0 !important;
  }
  .content_inner_dp span {
    font-size: 22px;
    line-height: 0px;
  }
}

.client_section {
  min-height: 30vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#194a4e), color-stop(#133a41), color-stop(#102b34), color-stop(#0c1d25), to(#010e16));
  background-image: linear-gradient(to right bottom, #194a4e, #133a41, #102b34, #0c1d25, #010e16);
}

.dp_sec_heading {
  font-size: 85px;
  text-transform: uppercase;
  color: #fff;
}

.dp_sec_heading span {
  color: transparent;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.client_slider .content_wrappeer {
  padding: 20px;
}

.client_slider .content_wrappeer img {
  width: 180px;
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.client_slider .slick-slide {
  border: 2px solid #14484b;
  border-radius: 20px;
  margin: 0px 10px;
}

.btn_dp8 {
  min-width: 180px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #5dffe8;
  color: #5dffe8;
  font-size: 16px;
  border-radius: 90px;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.btn_dp8:hover {
  background-color: #5dffe8;
  color: #000;
}

.dp_sectiion_para {
  font-size: 16px;
  color: #fff;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .dp_sec_heading {
    font-size: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .dp_sec_heading {
    font-size: 35px;
  }
}

.our_expertise {
  background-image: url("../images/our-expertise-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.our_expertise .txt-neon {
  color: transparent;
  font-size: 55px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #14484b;
}

.our_expertise .title-exp {
  width: 80%;
  color: #fff;
}

.our_expertise .platforms-supported ul {
  padding: 0;
}

.our_expertise .platforms-supported li::before {
  content: "\002B";
  font-size: 20px;
  margin-right: 6px;
  color: #0c3539;
}

.our_expertise .platforms-supported li {
  list-style: none;
  color: #5dffe8;
}

.custom-form .form-control {
  background-color: transparent;
  border-color: #184c4e;
  border-radius: 50px;
  border-width: 2px;
}

.custom-form .form-control::-webkit-input-placeholder {
  color: #5dffe8;
}

.custom-form .form-control:-ms-input-placeholder {
  color: #5dffe8;
}

.custom-form .form-control::-ms-input-placeholder {
  color: #5dffe8;
}

.custom-form .form-control::placeholder {
  color: #5dffe8;
}

.custom-form .form-select {
  background-color: transparent;
  border-radius: 50px;
  border-color: #184c4e;
  border-width: 2px;
}

.custom-form .form-select {
  background-color: transparent;
  border-radius: 50px;
  border-color: #184c4e;
  border-width: 2px;
  color: #5dffe8;
}

.max-width {
  max-width: 70%;
  margin: auto;
}

.custom-styles {
  background-color: transparent;
  border-radius: 15px;
  border-color: #184c4e;
  border-width: 2px;
  resize: none;
}

.custom-styles::-webkit-input-placeholder {
  color: #5dffe8;
}

.custom-styles:-ms-input-placeholder {
  color: #5dffe8;
}

.custom-styles::-ms-input-placeholder {
  color: #5dffe8;
}

.custom-styles::placeholder {
  color: #5dffe8;
}

.custom-select option {
  margin: 40px;
  background: rgba(166, 166, 166, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.btn.btn-custom {
  background-color: #5dffe8;
  width: 110px;
  height: 40px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.btn.btn-custom:hover {
  background-color: transparent;
  border: 2px solid #5dffe8;
  color: #5dffe8;
}

/*  .what_we_do {
  background-image: url("../images/what_we_do.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
*/
.what_we_do {
  background-image: url("../images/vr_bg.gif");
  background-repeat: no-repeat;
  background-position: right 80%;
  background-size: 300px;
}

form, .input-field-wrap {
  position: relative;
}

.form-control, .form-control:focus {
  color: #5dffe8;
}

.input-filed {
  margin-bottom: 20px;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-search--dropdown .select2-search__field {
  display: none;
}

form textarea {
  background-color: transparent !important;
  border-color: #184c4e;
  border-radius: 50px;
  border-width: 2px;
}

.select2-selection--single {
  background-color: transparent !important;
  border: 2px solid #184c4e !important;
  border-radius: 50px !important;
  color: #5dffe8 !important;
  padding: 5px !important;
  height: 41px !important;
}

.select2-container--default .select2-results__option--selected {
  background-color: #5dffe8;
  color: #010e16;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #5dffe8 transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #5dffe8 transparent;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5dffe8;
  color: #010e16;
}

.select2-results__option--selectable {
  color: #5dffe8;
}

.select2-dropdown {
  background-color: #010e16;
  border: 1px solid #5dffe8;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 41px !important;
  right: 10px !important;
}

.select2-selection__rendered {
  color: #5dffe8 !important;
}

label {
  position: absolute;
  top: -20px;
  left: 9px;
  background-color: #5dffe8;
  color: #010e16;
  padding: 2px 5px;
  border-radius: 50px;
}

input {
  font-size: 20px;
  position: relative;
  bottom: 0;
  -webkit-transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

input:invalid + label {
  top: -20px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

input:focus + label {
  top: -20px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

input:focus::-webkit-input-placeholder {
  color: green;
  font-weight: 100;
  font-family: sans-serif;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.select2-selection--single:focus {
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.select2-container {
  width: 100% !important;
}

.exp-section-padding, .cont-section-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 1400px) and (min-width: 1100px) {
  .content_inner_dp {
    padding-top: 100px;
  }
  .content_inner_dp h2 {
    font-size: 60px;
    line-height: 60px;
  }
  .content_inner_dp span {
    font-size: 40px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .what_we_do .btn_dp8 {
    margin-top: 30px;
  }
  .our_expertise {
    padding-bottom: 0 !important;
    margin-bottom: -55px;
  }
  .cont-section-padding {
    padding-top: 0 !important;
  }
  .txt-neon {
    margin-bottom: 10px;
  }
  .custom-md-devices {
    margin-bottom: 40px;
  }
  .projects_section {
    padding-top: 40px;
  }
  label {
    font-size: 12px;
  }
  input:invalid + label {
    top: -14px;
  }
  .input-filed {
    margin-bottom: 7px;
  }
  .what_we_do {
    background-image: none;
  }
  .max-width {
    max-width: 95%;
    margin: auto;
  }
  .our_expertise .txt-neon {
    color: transparent;
    font-size: 55px;
    line-height: 45px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0a9c88;
  }
  .our_expertise p {
    width: 100% !important;
  }
  .we_inovate {
    text-align: center;
  }
  .we_elevate {
    text-align: center;
  }
  .we_create {
    text-align: center;
  }
  .what_we_do p {
    width: 100% !important;
  }
  .our_expertise .title-exp {
    width: 100%;
    color: #fff;
  }
  .custom-md-devices {
    text-align: center;
  }
}

.projects_section {
  background-image: url("../images/bg_projects.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.projects_slider {
  min-height: 450px;
}

.projects_slider .slick-prev {
  display: none !important;
}

.projects_slider .slick-next {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url(../images/slider-next-btn.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  color: transparent;
  left: 48%;
  bottom: 48px;
}

.projects_slider .slick-next::after {
  position: absolute;
  top: 0;
  left: 0;
}

.projects_slider .slick-slide .img_contain_main img {
  display: none;
}

.projects_slider .slick-slide.slick-active.main-slide .img_contain_main img {
  display: block;
}

.project-details-link {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.project-details-link img {
  width: 60px;
}

.projects_slider .projects_wrappeer {
  padding-bottom: 30px;
}

.projects_slider .slick-slide .project-details-link {
  display: none;
}

.projects_slider .slick-slide.slick-active.main-slide .project-details-link {
  display: block;
}

.projects_slider .slick-slide.left-slide.slick-active {
  border-radius: 20px;
  overflow: hidden;
  background: #01161d;
  background: linear-gradient(85deg, rgba(1, 22, 29, 0) 0%, #195051 100%, #195051 100%);
}

.projects_slider .projects_wrappeer {
  position: relative;
  min-height: 220px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: hidden;
}

.projects_slider .projects_wrappeer .ar_wrap_projects {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  background-image: url("../images/ar_bg.svg");
  background-position: top;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  background-size: 100%;
}

.projects_slider .projects_wrappeer .ar_wrap_projects h3 {
  text-align: end;
  margin-top: 10px;
  margin-right: 15px;
}

.projects_slider .projects_wrappeer img {
  margin: 0 auto;
}

.slick-slide.right-slide.slick-active {
  border-radius: 20px;
  overflow: hidden;
  background: #195051;
  background: -webkit-gradient(linear, left top, right top, from(#195051), color-stop(21%, #195051), to(rgba(1, 22, 29, 0.211922)));
  background: linear-gradient(90deg, #195051 0%, #195051 21%, rgba(1, 22, 29, 0.211922) 100%);
}

.slick-slide.right-slide.slick-active .ar_wrap_projects {
  top: 0px;
  right: unset;
  left: 0px;
  background-image: url("../images/ar_bg_2.svg");
}

.slick-slide.right-slide.slick-active .ar_wrap_projects h3 {
  text-align: start;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: unset;
}

.project_wrap_inner {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_on_main {
  display: none;
}

.main-slide .project_on_main {
  height: 450px;
  border-radius: 20px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #195051;
  background: -webkit-gradient(linear, left top, left bottom, from(#195051), color-stop(54%, #195051), to(#07272a));
  background: linear-gradient(180deg, #195051 0%, #195051 54%, #07272a 100%);
  overflow: hidden;
}

.main-slide .project_wrap_inner {
  display: none;
}

.projects_slider .slick-list.draggable {
  margin: 0px 50px;
  padding: unset;
}

.projects_slider .slick-list.draggable .slick-slide {
  margin: 15px;
}

.projects_slider .slick-track {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_img_dp8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 35px 0 0 35px !important;
  width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.img_contain_main img {
  position: absolute;
  width: 280px;
  right: 0px;
  bottom: 0px;
}

@media only screen and (max-width: 1200px) {
  .img_contain_main img {
    position: absolute;
    width: 150px;
  }
  .main-slide .project_on_main {
    height: 300px !important;
  }
}

@media only screen and (max-width: 992px) {
  .section-padding {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .projects_section .dp_sectiion_para {
    margin-bottom: 20px;
  }
  .project-details-link img {
    width: 70px !important;
  }
  .projects_slider {
    min-height: 0;
  }
  .projects_wrappeer img {
    width: 80%;
  }
  .project_on_main .main_img_dp8 {
    width: 50%;
  }
}

.custom-min-height {
  min-height: 750px;
}

.services {
  background-image: url("../images/services_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.services .service_box {
  background: linear-gradient(135.87deg, #1a5153 2.28%, rgba(26, 81, 83, 0.0520833) 71.8%, rgba(26, 81, 83, 0) 75.62%);
  border-radius: 15px;
  min-height: 375px;
}

.services .service_box .service_img {
  background-image: url(../images/bg_rounded.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  border-top-left-radius: 16px;
  padding-bottom: 95px;
}

.services .service_box img {
  width: 160px;
  margin-top: -45px;
}

.services .service_box .description_service {
  padding: 10px 30px;
}

.services .service_box .description_service button.read_more_btn {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 35px;
  color: #56ecd7;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.services .service_box .description_service button.read_more_btn span {
  margin-top: 5px;
}

.services .service_box .description_service button.read_more_btn .contain_btn {
  font-size: 35px;
  color: #1d7165;
  line-height: 30px;
  margin-top: 0px;
}

.services .service_box .description_service button.read_more_btn:hover {
  width: 130px;
}

.check_test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 35px;
  background: transparent;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #56ecd7;
  font-size: 14px;
}

.check_test:hover {
  color: #56ecd7;
}

.check_test:before,
.check_test:after {
  position: absolute;
  content: "";
  -webkit-transition: all .25s;
  transition: all .25s;
}

.check_test:before {
  border-bottom: 4px solid #1d7165;
  border-left: 4px solid #1d7165;
  border-top: 4px solid #1d7165;
  width: 10%;
  height: 105%;
  left: 0px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.check_test:after {
  border-top: 4px solid #1d7165;
  border-right: 4px solid #1d7165;
  border-bottom: 4px solid #1d7165;
  width: 10%;
  height: 105%;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.check_test:hover:before {
  width: 100%;
  height: 105%;
}

.check_test:hover:after {
  width: 100%;
  height: 105%;
}

.sec_box {
  margin-top: 50%;
}

.thir_box {
  margin-top: 100%;
}

@media only screen and (max-width: 1024px) {
  .sec_box {
    margin-top: 10%;
  }
  .thir_box {
    margin-top: 10%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-slide .project_on_main {
    height: 250px !important;
  }
  .img_contain_main img {
    width: 120px;
  }
}

@media (max-width: 992px) {
  .services .service_box .service_img {
    background-size: 35% !important;
    padding-bottom: 60px !important;
  }
}

@media only screen and (max-width: 767px) {
  .first-box {
    margin-top: 55px;
  }
  .services .service_box .service_img {
    background-size: 35% !important;
    border-top-left-radius: 16px !important;
    padding-bottom: 25px !important;
  }
  .services .sec_box {
    margin-top: 20%;
  }
  .services .thir_box {
    margin-top: 20%;
  }
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#1a5153), color-stop(99.06%, rgba(26, 81, 83, 0)));
  background: linear-gradient(90deg, #1a5153 0%, rgba(26, 81, 83, 0) 99.06%);
}

.footer .no-margin-bottom {
  margin-bottom: 0;
}

.footer .social-icons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
}

.footer .social-icons img {
  width: 75%;
}

@media only screen and (max-width: 767px) {
  .footer h6 {
    font-size: 16px;
  }
  .footer .social-icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
    padding: 0;
  }
  .footer .no-margin-bottom {
    margin-bottom: 0;
    text-align: center;
  }
  .footer .social-icons ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.expertise_section {
  background-image: url("../images/expertise_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 80px;
}

.expertise_content_inner {
  min-height: 450px;
}

.expertise_content_inner h2 {
  color: #FFF;
  font-size: 85px;
  text-transform: uppercase;
  line-height: 59px;
  margin-bottom: 30px;
}

.expertise_content_inner h2 span {
  color: transparent;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.expertise_content_inner p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  width: 75%;
  margin-bottom: 30px;
}

.expertise_col {
  background-image: url("../images/ar_expertise.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.acordion_outter_control .txt-neon {
  color: transparent;
  font-size: 55px;
  line-height: 45px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #14484b;
}

.acordion_outter_control .title-exp {
  color: #fff;
  font-size: 36px;
  line-height: 30px;
}

.acordion_outter_control .title-exp strong {
  font-size: 40px;
}

.acordion_outter_control .platforms-supported ul {
  list-style: none;
  padding: 0;
}

.acordion_outter_control .platforms-supported ul li a {
  color: #5dffe8;
  text-decoration: none;
  -webkit-transition: 250ms all ease-in;
  transition: 250ms all ease-in;
}

.acordion_outter_control .platforms-supported ul li a:hover {
  opacity: 0.7;
}

.acordion_outter_control .platforms-supported ul li:before {
  content: "\002B";
  font-size: 20px;
  margin-right: 6px;
  color: #0c3539;
}

.acordion_outter_control .platforms-supported ul .active::before {
  content: "\2212";
}

.accordion_content_single {
  background-color: #FFF;
  padding: 35px;
  -webkit-box-shadow: 0px 4px 10px #000000;
          box-shadow: 0px 4px 10px #000000;
  border-radius: 20px;
  display: none;
}

.accordion_content_single .close_outter h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 31px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.accordion_content_single .close_outter a {
  cursor: pointer;
}

.accordion_content_single .close_outter a img {
  width: 30px;
  height: 30px;
}

.accordion_content_single p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 1200px) {
  .expertise_section {
    background-size: cover;
    background-position: bottom right;
  }
}

@media (max-width: 767px) {
  .expertise_content_inner {
    min-height: auto;
  }
  .expertise_content_inner h2 {
    font-size: 55px;
    line-height: 41px;
    margin-bottom: 20px;
  }
  .expertise_content_inner p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .expertise_section {
    background-size: cover;
    background-position: bottom right;
  }
}

.our_projects .projects_wrappeer {
  position: relative;
  min-height: 220px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: hidden;
}

.our_projects .projects_wrappeer .ar_wrap_projects {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  background-image: url("../images/ar_bg.svg");
  background-position: top;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  background-size: 100%;
}

.our_projects .projects_wrappeer .ar_wrap_projects h3 {
  text-align: end;
  margin-top: 10px;
  margin-right: 15px;
}

.our_projects .projects_wrappeer img {
  margin: 0 auto;
}

.our_projects .project_on_main {
  height: 450px;
  border-radius: 20px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #195051;
  background: -webkit-gradient(linear, left top, left bottom, from(#195051), color-stop(54%, #195051), to(#07272a));
  background: linear-gradient(180deg, #195051 0%, #195051 54%, #07272a 100%);
  overflow: hidden;
}

.our_projects .project_wrap_inner {
  display: none;
}

.projects_col {
  background-image: url("../images/our-projects.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .our_projects .main_img_dp8 {
    width: auto;
  }
  .our_projects .img_contain_main img {
    width: 280px;
  }
}

@media screen and (max-width: 1180px) and (min-width: 768px) {
  .our_projects .img_contain_main img {
    width: 280px;
  }
  .expertise_content_inner {
    min-height: 320px;
  }
}
