
.projects_slider .slick-prev{
    display: none !important;
}
.projects_slider .slick-next{
    position: relative;
    width: 60px;
    height: 60px;
    background-image: url(../images/slider-next-btn.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    color: transparent;
    left: 48%;
    bottom: 48px;
}
.projects_slider .slick-next::after{
    position: absolute;
    top: 0;
    left: 0;
}
.projects_slider .slick-slide .img_contain_main img{
    display: none;
}
.projects_slider .slick-slide.slick-active.main-slide .img_contain_main img{
    display: block;
}
.project-details-link{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}
.project-details-link img{
    width: 60px;
}
.projects_slider .projects_wrappeer{
    padding-bottom: 30px;
}
.projects_slider .slick-slide .project-details-link{
    display: none;
}
.projects_slider .slick-slide.slick-active.main-slide .project-details-link{
    display: block;
}

/* btn-10 */
.btn-10 a{
    padding:0;
}
.btn-10 a span{
    display:block; 
    padding:0 30px;
}
.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link:hover{
    -webkit-transition: .5s all ease-in;
    transition: .5s all ease-in;
}
.navbar_dp .nav_cp_dp .navbar-nav .nav-item .nav-link{
    -webkit-transition: .5s all ease-in !important;
    transition: .5s all ease-in !important;
}
/* .btn-10 a{
    position: relative;
}
.btn-10 a:before, .btn-10 a:after, .btn-10 a span:before, .btn-10 a span:after{
    position:absolute; 
    background-color:#ffe800;
}
.btn-10 a:before, .btn-10 a:after, .btn-10 a span:before, .btn-10 a span:after{content:""; display:block;}
.btn-10 a:before{
    width:1px; 
    height:0; 
    left:0; 
    bottom:0; 
    -webkit-transition:all .1s .3s; 
    -o-transition:all .1s .3s; 
    transition:all .1s .3s;}
.btn-10 a:after{
    width:0; 
    height:1px; 
    left:0; 
    top:0; 
    -webkit-transition:all .1s .2s; 
    -o-transition:all .1s .2s; 
    transition:all .1s .2s;
}
.btn-10 a span:before{
    width:1px; 
    height:0; 
    right:0; top:0; 
    -webkit-transition:all .1s .1s; 
    -o-transition:all .1s .1s; 
    transition:all .1s .1s;
}
.btn-10 a span:after{
    width:0; 
    height:1px; 
    right:0; 
    bottom:0; 
    -webkit-transition:all .1s; 
    -o-transition:all .1s; 
    transition:all .1s;
}
.btn-10 a:hover:before{
    height:100%; 
    -webkit-transition:all .1s; 
    -o-transition:all .1s;	
    transition:all .1s;
}
.btn-10 a:hover:after{
    width:100%; 
    -webkit-transition:all .1s .1s; 
    -o-transition:all .1s .1s; 
    transition:all .1s .1s;
}
.btn-10 a:hover span:before{
    height:100%; 
    -webkit-transition:all .1s .2s; 
    -o-transition:all .1s .2s; 
    transition:all .1s .2s;
}
.btn-10 a:hover span:after{
    width:100%;	
    -webkit-transition:all .1s .3s;	
    -o-transition:all .1s .3s; 
    transition:all .1s .3s;
} */

.digital-image{
    width: 465px;
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: -80px;
    margin-left: 50px;
}
.main_section .arrow_down{
    top: 45% !important;
}
.main_section{
    background-image: url(../images/hero-bg.png) !important;
}




@media (max-width: 1400px) and (min-width: 1100px) {
    .content_inner_dp{
        padding-top: 100px;
    }
    .content_inner_dp h2{
        font-size: 60px;
        line-height: 60px;
    }
    .content_inner_dp span{
        font-size: 40px;
        line-height: 40px;
    }
    .main_section .nav_menu_club{
        top: 145px;
    }
    .main_section .nav_menu_club_2{
        top: 250px;
    }
    .main_section .nav_menu_club_3{
        top: 390px;
    }
}